/* general styling */

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
}

h1 {
  font-size: 10rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
/* navbar  */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 11rem;
  background: grey;
  top: 0;
  width: 100%;
  align-items: center;
}

#logo {
  height: 10rem;
  width: 10rem;
}

#navlinks {
  display: flex;
}
#navlinks li a {
  text-decoration: none;
  color: black;
}

#navlinks li {
  list-style: none;
  padding-right: 1rem;
  font-size: 2rem;
}

.active {
  border-bottom: 2px solid black;
}

main {
  margin-top: 11rem;
  width: 100%;
}

/* footer style */
footer {
  display: flex;
  justify-content: space-between;
  height: 11rem;
  background: grey;
  top: 0;
  width: 100%;
  align-items: center;
  margin-top: 3rem;
}

/* mobile nav  */

.container {
  max-width: 60%;
  width: 60%;
}

.mobile-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.mobile-navbar .mobile-navbar-container li {
  list-style: none;
}

.mobile-navbar-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.mobile-navbar-container .hamburger {
  position: absolute;
  font-size: 3rem;
  top: 25px;
  right: 25px;
  z-index: 2;
}

.mobile-navbar .mobile-navlinks {
  padding-top: 10rem;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: grey;
}

.mobile-navbar-container .mobile-navlinks li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 5rem 0;
}

.mobile-navbar-container input[type="checkbox"]:checked ~ .mobile-navlinks {
  transform: translateX(0);
}

/* index page */

/* gallery page */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

/* makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

blockquote {
  font-size: 2rem;
  text-align: justify;
  font-size: 2rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.vc-winners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0rem;
}

.vc-winners-title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.vc-winners-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 44vw;
  margin: 4rem 2rem;
}

.vc-winners-card-title {
  margin: 3rem 0;
  font-size: 1.5rem;
}

.vc-winners-card img {
  float: left;
  height: 300px;
  width: 200px;
  margin: 2rem 2rem 0.5rem 1rem;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

/* media page */

.youtube-documentary {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.youtube-documentary-head {
  width: 60%;
  float: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.youtube-documentary-video {
  border: 2px solid black;
  width: 60%;
  height: 60vh;
}

#clarkson-documentary-title {
  width: 100%;
  height: 100%;
}

/* podcast */
.podcast {
  width: 80%;
  margin: 15rem auto;
}

.podcast-header {
  color: black;
  margin-bottom: 2rem;
}

.podcast-header a {
  font-size: 2rem;
}

/* st nazaire books */
.st-nazaire-books {
  width: 90%;
  margin: 0 auto;
}

.st-nazaire-books h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

figure {
  width: 49%;
  align-content: center;
  margin-bottom: 10rem;
}

figure:nth-child(odd) {
  float: right;
  margin-left: 1rem;
}
figure:nth-child(even) {
  float: left;
}

figure img {
  height: 70%;
  width: 50%;
}

figcaption {
  width: 50%;
  float: right;
  padding: 20% 5%;
  text-align: justify;
}

/* media query  */

/* navbar mobile */

@media screen and (max-width: 768px) {
  h1 {
    color: red;
  }
}

@media screen and (max-width: 426px) {
  h1 {
    color: red;
  }

  .mobile-navbar {
    display: block;
  }

  .lg-screen-navbar {
    display: none;
  }
}
